// dark-mode
$dark-bg: #1D282C;
$moon-color: #C8D8D7;
$moon-shadow: #87A3AD;
$moon-dimple: #9DB5C1;

// light mode
$light-bg: #1FA1C1;
$sun-color: #F4C014;

// star Y travel
$star-base: 20px;
$star-duration: 500ms;
$star1: 14px;
$star2: 9.5px;
$star3: 18.4px;

// cloud travel
$cloud-duration: 500ms;
$cloud1: 33px;
$cloud2: 49px;

.toggle {
  width: 70px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  position: relative;
  transition: all 350ms ease-in !important;
  background-color: $dark-bg;
  margin-top: 2.5px;
  cursor: pointer;
}

.dark {
  background-color: $dark-bg;
}

.light {
  background-color: $light-bg;
}

.toggleCircle {
  transition: all 850ms ease !important;
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 26px;
}

.dark .toggleCircle {
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  top: 4.5px;
  right: 4.5px;
  background: $moon-color;
  box-shadow: inset 1px -1.5px 0px $moon-shadow;
  transition: all 350ms ease-in;
}

@keyframes reverse {
  0% {
    right: 4px;
  }
  60% {
    left: 30px;
    width: 35px;
  }
  100% {
    left: 4px;
  }
}

.light .toggleCircle {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  background-color: $sun-color;
  transition: all 350ms ease-in;
  top: 4.5px;
  right: 4.5px;
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 35px;
  }
  100% {
    right: 4px;
  }
}

.dark .toggleCircle:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: '';
  box-shadow: -20px 0 0 -2px $moon-dimple, -14px 6px 0 -3px $moon-dimple, -9px -1px 0 -3.7px $moon-dimple;
  left: 22px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.starVisible1 {
  animation-name: star1;
  animation-duration: $star-duration;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-timing-function: ease-out;
}

.starVisible2 {
  animation-name: star2;
  animation-duration: $star-duration;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-timing-function: ease-out;
}

.starVisible3 {
  animation-name: star3;
  animation-duration: $star-duration;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-timing-function: ease-out;
}

@keyframes star1 {
  0% {
    top: $star-base;
    transform: rotate(-103deg);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    top: $star1;
    transform: rotate(78deg);
    opacity: 1;
    scale: 1.2;
  }
}

@keyframes star2 {
  0% {
    top: $star-base;
    transform: rotate(-148deg);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    top: $star2;
    transform: rotate(7deg);
    opacity: 1;
    scale: 1.6;
  }
}

@keyframes star3 {
  0% {
    top: $star-base;
    transform: rotate(-221deg);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    top: $star3;
    transform: rotate(23deg);
    opacity: 1;
    scale: 1.2;
  }
}

.cloudVisible1 {
  animation-name: cloud1;
  animation-duration: $cloud-duration;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-timing-function: ease-out;
}

.cloudVisible2 {
  animation-name: cloud2;
  animation-duration: $cloud-duration;
  animation-fill-mode: forwards;
  opacity: 1;
  animation-timing-function: ease-out;
}

@keyframes cloud1 {
  0% {
    left: calc($cloud1 - 12.5%);
    opacity: 0;
  }
  100% {
    left: $cloud1;
    opacity: 1;
  }
}

@keyframes cloud2 {
  0% {
    left: calc($cloud2 + 12%);
    opacity: 0;
  }
  100% {
    left: $cloud2;
    opacity: 1;
  }
}

:export {
  lightBg: $light-bg;
  darkBg: $dark-bg
}