@import '../styles/variables.module.scss';

.logo {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: #222;
  color: #000;
  font-family: $title-font;
  font-size: 20px;
}

.logoText {
  position: absolute;
  left:6px;
  top: 4px;
}

.link {
  font-size: 16px;
  text-transform: uppercase;
  padding: 7.5px 0px 0px;
  font-family: $header-link-font;
}