@import url('https://rsms.me/inter/inter.css');
@import url('/public/fonts/webfont-iosevka-26.2.0/iosevka.css');
@import url('/public/fonts/made_tommy_soft/made_tommy_soft.css');

[data-theme='dark'] {
  --background: #12142b;
  --text-color-primary: #b4b9ca;
  --text-color-title: #E7EBF6;
  --text-color-header-link: hsl(235, 20%, 35%);
  --accent: hsl(14, 100%, 75%);
  --accent-fade: hsla(14, 100%, 75%, 8%);
  --card-bg: #070B28;
  --gradient: linear-gradient(90deg, hsl(14, 100%, 80%) 0%, hsl(0, 47%, 60%) 100%);
}
[data-theme='light'] {
  --background: #F7F0E2;
  --text-color-primary: #565A91;
  --text-color-title: #353B81;
  --text-color-header-link: hsl(236, 35%, 75%);
  --accent: hsl(0, 50%, 58%);
  --accent-fade: hsla(0, 50%, 58%, 8%);
  --card-bg: #FDF7EB;
  --gradient: linear-gradient(270deg, hsl(14, 75%, 73%) 0%, hsl(0, 50%, 56%) 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color-primary);
  font-feature-settings: "ss01", "cv11";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* moving hover overlay for header links */
#overlay {
  position: absolute;
  background-color: var(--accent);
  width: 50px;
  height: 3px;
  bottom: 1px;
  z-index: 5;
  transition: left .3s ease, width .3s, opacity .3s;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
}

a.active {
  color: var(--text-color-title);
}

/* hamburger menu for header mobile navigation */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}