@import url('https://rsms.me/inter/inter.css');
@import url('/public/fonts/webfont-iosevka-26.2.0/iosevka.css');
@import url('/public/fonts/made_tommy_soft/made_tommy_soft.css');

[data-theme='dark'] {
  --background: hsl(235, 42%, 12%);
  --text-color-primary: #b4b9ca;
  --text-color-title: #E7EBF6;
  --text-color-header-link: #474A6B;
  --accent: #ff9d80;
  --card-bg: #070B28;
  --gradient: linear-gradient(90deg, #ffb199 0%, #C96969 100%);
}
[data-theme='light'] {
  --background: #F7F0E2;
  --text-color-primary: #565A91;
  --text-color-title: #353B81;
  --text-color-header-link: #A9ACD6;
  --accent: #cc6666;
  --card-bg: #FDF7EB;
  --gradient: linear-gradient(270deg, hsl(14, 80%, 72%) 0%, #cc6666 100%);
}

/* Fonts */
/* @font-face {
  font-family: 'MADE Tommy Soft';
  src: url("/fonts/made_tommy_soft/otf/MADE Tommy Soft Regular PERSONAL USE.otf");
}

@font-face {
  font-family: 'MADE Tommy Soft Medium';
  src: url("/fonts/made_tommy_soft/otf/MADE Tommy Soft Medium PERSONAL USE.otf");
} */

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  color: var(--text-color-primary);
  font-feature-settings: "ss01", "cv11";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#overlay {
  position: absolute;
  /* border-radius: 7px; */
  background-color: var(--accent);
  width: 50px;
  height: 3px;
  bottom: 1px;
  z-index: 5;
  transition: left .3s ease, width .3s, opacity .3s;
  opacity: 1;
}

#overlay.active {
  opacity: 1;
}