$title-font: 'Made Tommy Soft Medium';
$header-link-font: 'Made Tommy Soft';
$content-width: 1000px;

/* dark mode */
$dark-bg: #11132C;
$dark-title: #E7EBF6;
$dark-body: #C4C8D5;

/* light mode */
$light-bg: #F7F0E2;
$light-title: #353B81;
$light-body: #565A91;

/* Fonts */
@font-face {
  font-family: 'MADE Tommy Soft';
  src: url("/fonts/made_tommy_soft/MADE Tommy Soft Regular PERSONAL USE.otf");
}

@font-face {
  font-family: 'MADE Tommy Soft Medium';
  src: url("/fonts/made_tommy_soft/MADE Tommy Soft Medium PERSONAL USE.otf");
}

:export {
  titleFont: $title-font;
  headerLinkFont: $header-link-font;
  contentWidth: $content-width;
  darkBg: $dark-bg;
  darkTitle: $dark-title;
  darkBody: $dark-body;
  lightBg: $light-bg;
  lightTitle: $light-title;
  lightBody: $light-body;
  headerLinkDark: #474A6B;
  headerLinkLight: #A2A5C1;
  headerLinkFocusDark: $dark-title;
  headerLinkFocusLight: $light-title;
}